body {
    padding: 50px;
    font-size: 14px;
    font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}

h1 {
    color: red;
}

.message {
    font-size: 20px;

    &.success {
        color: limegreen;
    }

    &.error {
        color: red;
    }
}

table {
    border: 1px solid #d9d9d9;
}

// CHAT BOX
.chatbot-title {
    text-align: center;
}
.chatbox {
    margin: 0 auto;
    height: 600px;
    width: 50%;

    .chat-content {
        height: 80%;
        overflow: auto;

        p {
            border-radius: 5px;
            clear: both;
            margin: 1px 0;
            padding: 20px;
            max-width: 60%;
        }

        .bot-chat {
            background: #d9d9d9;
            color: #000;
            float: left;
        }

        .user-chat {
            background: #4080ff;
            color: #ffffff;
            float: right;
        }

    }

    .chat-input {
        margin: 20px 0;

        #chat {
            border: 1px solid blue;
            padding: 15px;
            width: 80%;
        }

        #submit {
            background: rgb(150, 255, 255);
            border: none;
            padding: 15px;
        }
    }
}