
<h1 class="chatbot-title">Chat bot test API</h1>

<div class="chatbox">
    <div class="chat-content">
        <p class="bot-chat">Xin chào. Chào mừng bạn đến với Chatbot Wit API</p>
    </div>

    <div class="chat-input">
        <input type="text" name="chat" required id="chat" placeholder="Say something"/>
    </div>
</div>